<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel = "stylesheet" href="/static/style.css">
   <link rel = "stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Tony's Pizza</title>
</head>
<body>

<header class = w3-center> <h1>Uncle Tony's Pizza</h1></header>

<!--<div class="w3-sidebar w3-bar-block w3-light-grey" style="width:25%">
  <a href="index.html" class="w3-bar-item w3-button w3-border-bottom">ORDER</a>-->

  <a href="/login" class="w3-button w3-round w3-xlarge w3-centered">LOGIN</a>

  <a href="/register" class="w3-button w3-round w3-xlarge w3-centered">REGISTER</a>

 <a href="/order" class="w3-button w3-round w3-xlarge w3-centered">CONTINUE ORDER AS GUEST</a>
</div>



<div class = "w3-container w3-margins">
<div style="vertical-align: center">

<!--<button class="w3-button w3-round w3-xlarge w3-centered" href="/login">Login/Register</a>
</button>

<button class="w3-button w3-round w3-xlarge w3-centered" href="#order.html">Continue as guest</a>
</button>-->

</div>
</div>
</body>
</html>
